<md-subheader class="md-primary">Skills</md-subheader>
<md-content layout-padding>
  <md-chips class="selected" ng-model="skills" readonly="true"></md-chips>
</md-content>
<md-divider></md-divider>

<md-subheader class="md-primary">Summary</md-subheader>
<md-content layout-padding>
	<ul style="font-size: 16px;">
	    <li>7+ years of software development experience including taking architecture challenges.</li>
	    <li>Developed and maintained Single Page Applications / Enterprise applications using Agile life cycle. </li>
	    <li>Strong knowledge and experience of Object Oriented Programming (OOP), Software Development Life Cycle (SDLC) and Architecture Fundamentals.</li>
	    <li>Proficient with Mongo DB, AngularJS, JSF, Java, J2EE, Spring and Play Framework.</li>
	    <li>Good analytical capabilities and communication skills. </li>
	    <li>Ability to quickly adapt to new environments and new technologies.</li>
	    <li>Work well independently or in a team environment.</li>
	    <li>Quality skill to train development team on several standard coding techniques as well as diverse  technologies.</li>
	    <li>Solid experience with front-end workflow automation tools like NPM, Bower, Jasmine, Protractor, Bower, Grunt and Gulp.</li>
	</ul>
</md-content>
<md-divider></md-divider>

<md-subheader class="md-primary">Presentation</md-subheader>
<md-content layout="row" layout-padding>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100" target="_blank" href="http://maxyermayank.github.io/workflow-automation" aria-label="Workflow automation for front-end applications">Workflow automation for front-end applications</md-button>
</md-content>
<md-divider></md-divider>