<md-subheader class="md-primary">Skills</md-subheader>
<md-content>
	<md-chips class="selected" ng-model="skills" readonly="true"></md-chips>
</md-content>
<md-divider></md-divider>

<md-subheader class="md-primary">Summary</md-subheader>
<md-content>
	<ul style="font-size: 16px;">
		<li>9+ years of software development experience including taking architecture challenges.</li>
		<li>Designed architecture, Developed and maintained Single Page Applications, Enterprise applications and Microservices using
			Agile life cycle.</li>
		<li>Strong knowledge and experience of OOP, SDLC and Architecture Fundamentals.</li>
		<li>Proficient with Mongo DB, AngularJS, JSF, Java, J2EE, Spring and Play Framework.</li>
		<li>Good analytical capabilities and communication skills.</li>
		<li>Ability to quickly adapt to new environments and new technologies.</li>
		<li>Work well independently or in a team environment.</li>
		<li>Quality skill to train development team on several standard coding techniques as well as diverse technologies.</li>
		<li>Solid experience with front-end workflow automation tools like NPM, Bower, Jasmine, Protractor, Bower, Grunt and Gulp.</li>
	</ul>
</md-content>
<md-divider></md-divider>
<md-divider></md-divider>

<md-subheader class="md-primary">Presentation</md-subheader>
<md-content layout="column">
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/amazon-web-services-ec2-container-service-ecs" aria-label="Amazon Web Services EC2 Container Service (ECS)">Amazon Web Services EC2 Container Service (ECS)</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/docker-66026474" aria-label="Docker">Docker</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/git-65195389" aria-label="Git">Git</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/java9-features" aria-label="Java 9 and Beyond">Java 9 and Beyond</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/json-web-token" aria-label="Json Web Tokens (JWT)">Json Web Tokens (JWT)</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/quality-culture-64683174" aria-label="Quality culture">Quality culture</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/scala-days-2016-overview" aria-label="Scaladays 2016 NY Overview">Scaladays 2016 NY Overview</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/workflow-automation-for-frontend-web-applications" aria-label="Workflow automation for front-end applications">Workflow automation for front-end applications</md-button>
</md-content>
<md-divider></md-divider>

<md-subheader class="md-primary">Plunkers</md-subheader>
<md-content layout="column">
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/qDurfZ/preview" aria-label="AngularJS Table Sorting">AngularJS Table Sorting</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/6N5ZOF/preview" aria-label="Add New Row in table">Add New Row in table</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/rSsmdc/preview" aria-label="Angular new router - simple navigation">Angular new router - simple navigation</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/fF4YeM/preview" aria-label="Angular new router - Wizard navigation">Angular new router - Wizard navigation</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/F2PxL9/preview" aria-label="Angular Material Bottom sheet">Angular Material Bottom sheet</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/68lAU7/preview" aria-label="Angular Material Chips">Angular Material Chips</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/EfhgXc/preview" aria-label="AngularJS Reverse String Filter">AngularJS Reverse String Filter</md-button>
	<md-divider></md-divider>
</md-content>
<md-divider></md-divider>
