<md-subheader class="md-primary">Skills</md-subheader>
<md-content>
	<md-chips class="selected" ng-model="skills" readonly="true"></md-chips>
</md-content>
<md-divider></md-divider>

<md-subheader class="md-primary">Summary</md-subheader>
<md-content>
	<ul style="font-size: 16px;">
		<li>Working with planning and delivery stakeholders to develop architecture that aligns strategy, processes, IT assets and business goals.</li>
		<li>Building architecture landscape and information architecture to help organizations future proofing technology strategies.</li>
		<li>Utilizing architectural frameworks like TOGAF.</li>
		<li>Building cloud native architecture with microservices and progressive single page web applications for web scale.</li>
		<li>Building strategies around public cloud for cost effectiveness like Amazon Web Services (AWS).</li>
		<li>Establishing DevOps culture within organizations. </li>
		<li>Delivering SaaS solutions.</li>
		<li>Setting up Incident response process and tools for security governance.</li>
		<li>Good analytical capabilities and communication skills. </li>
		<li>Ability to quickly adapt to new environments and new technologies.</li>
		<li>Work well independently or in a team environment.</li>
		<li>Establishing Strategic Education and Training Programs.</li>

		<li><strong>Strengths:</strong> Analysis, Architecture Design, Planning, Road mapping, Cloud Computing, Security, Microservices, Progressive Single Page Applications, Enterprise Information Architecture(Standards and Governance), Passionate and innovative, Education and Training.</li>
	</ul>
</md-content>
<md-divider></md-divider>
<md-divider></md-divider>

<md-subheader class="md-primary">Blog Posts</md-subheader>
<md-content layout="column">
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
	target="_blank" href="https://medium.com/@maxy_ermayank/service-registration-and-discovery-configuration-management-dffb15fc08a7" aria-label="Service Registration and Discovery & Configuration Management">Service Registration and Discovery & Configuration Management</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
	target="_blank" href="https://medium.com/@maxy_ermayank/hands-on-elasticsearch-8fa59d8aebfc" aria-label="Hands on Elasticsearch">Hands on Elasticsearch</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
	target="_blank" href="https://medium.com/@maxy_ermayank/devops-for-technology-innovation-7e167126dfcf" aria-label="DevOps for Technology Innovation">DevOps for Technology Innovation</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
                target="_blank" href="https://medium.com/@maxy_ermayank/everything-you-need-to-know-about-containers-7655badb4307" aria-label="Everything you need to know about Containers">Everything you need to know about Containers</md-button>
    <md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
                target="_blank" href="http://bit.ly/2t8T3nW" aria-label="Web & Mobile Development Strategy (Cloud Native Architecture) Part — 1">Web & Mobile Development Strategy (Cloud Native Architecture) Part — 1</md-button>
    <md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
                target="_blank" href="https://medium.com/@maxy_ermayank/java-9-and-beyond-a1549d730b8" aria-label="Java 9 and Beyond">Java 9 and Beyond</md-button>
    <md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://bit.ly/2rez4hA" aria-label="Cloud Native Architecture — Application Architecture">Cloud Native Architecture — Application Architecture</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="https://medium.com/@maxy_ermayank/quality-culture-882d21f70f0b" aria-label="Quality Culture">Quality Culture</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="https://medium.com/@maxy_ermayank/what-you-need-to-know-about-general-data-protection-regulation-gdpr-4c8969763d55" aria-label="What you need to know about General Data Protection Regulation (GDPR) ?">What you need to know about General Data Protection Regulation (GDPR) ?</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="https://medium.com/@maxy_ermayank/slack-channels-eeeb70cea0d0" aria-label="Slack Channels">Slack Channels</md-button>
	<md-divider></md-divider>
</md-content>
<md-divider></md-divider>

<md-subheader class="md-primary">Presentation</md-subheader>
<md-content layout="column">
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/amazon-web-services-ec2-container-service-ecs" aria-label="Amazon Web Services EC2 Container Service (ECS)">Amazon Web Services EC2 Container Service (ECS)</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/docker-66026474" aria-label="Docker">Docker</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/git-65195389" aria-label="Git">Git</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/java9-features" aria-label="Java 9 and Beyond">Java 9 and Beyond</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/json-web-token" aria-label="Json Web Tokens (JWT)">Json Web Tokens (JWT)</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/quality-culture-64683174" aria-label="Quality culture">Quality culture</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/scala-days-2016-overview" aria-label="Scaladays 2016 NY Overview">Scaladays 2016 NY Overview</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://www.slideshare.net/maxyermayank/workflow-automation-for-frontend-web-applications" aria-label="Workflow automation for front-end applications">Workflow automation for front-end applications</md-button>
</md-content>
<md-divider></md-divider>

<md-subheader class="md-primary">Plunkers</md-subheader>
<md-content layout="column">
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/qDurfZ/preview" aria-label="AngularJS Table Sorting">AngularJS Table Sorting</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/6N5ZOF/preview" aria-label="Add New Row in table">Add New Row in table</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/rSsmdc/preview" aria-label="Angular new router - simple navigation">Angular new router - simple navigation</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/fF4YeM/preview" aria-label="Angular new router - Wizard navigation">Angular new router - Wizard navigation</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/F2PxL9/preview" aria-label="Angular Material Bottom sheet">Angular Material Bottom sheet</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/68lAU7/preview" aria-label="Angular Material Chips">Angular Material Chips</md-button>
	<md-divider></md-divider>
	<md-button class="md-raised md-primary" style="width: 100%; border-radius: 0px; margin: 0px; text-align: left;" flex="100"
		target="_blank" href="http://embed.plnkr.co/EfhgXc/preview" aria-label="AngularJS Reverse String Filter">AngularJS Reverse String Filter</md-button>
	<md-divider></md-divider>
</md-content>
<md-divider></md-divider>
